.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.definitionBox {
    background-color: lightgray;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.gif {
    height: 400px;
    width: 200px;
}

.button {
    background: #6aaa64;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
}

.button:hover {
    background: #5c9e58;
}