.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.languageSelectContainer {
    display: flex;
    justify-content: center;
}

.languageSelect {
    width: 200px;
}