.keyboardRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.key {
    border: 1px solid black;
    height: 40px;
    width: 32px;
    border-radius: 4px;
    background-color: #e5e7eb;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}


.key:hover {
    background-color: #dbeafe;
}

.key:active {
    transform: translateY(2px);
}

.wrongKey {
    background-color: grey;
    color: #f9fafb;
}