.keyboardRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.key {
    border: 1px solid black;
    height: 40px;
    width: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:hover {
    background-color: lightblue;
}

.key:active {
    box-shadow: 0 3px #666;
    transform: translateY(3px);
}

.wrongKey {
    background-color: grey;
}